@charset "UTF-8";
@import url(../css/normalize.css);
@font-face {
  font-family: 'Gotham-Rounded-Bold';
  src: url("../fonts/Gotham-Rounded-Bold_21016.eot");
  src: local("☺"), url("../fonts/Gotham-Rounded-Bold_21016.woff") format("woff"), url("../fonts/Gotham-Rounded-Bold_21016.ttf") format("truetype"), url("../fonts/Gotham-Rounded-Bold_21016.svg") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Gotham-Rounded-Medium';
  src: url("../fonts/Gotham-Rounded-Medium_21022.eot");
  src: local("☺"), url("../fonts/Gotham-Rounded-Medium_21022.woff") format("woff"), url("../fonts/Gotham-Rounded-Medium_21022.ttf") format("truetype"), url("../fonts/Gotham-Rounded-Medium_21022.svg") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Gotham-Rounded-Light';
  src: url("../fonts/Gotham-Rounded-Light_21020.eot");
  src: local("☺"), url("../fonts/Gotham-Rounded-Light_21020.woff") format("woff"), url("../fonts/Gotham-Rounded-Light_21020.ttf") format("truetype"), url("../fonts/Gotham-Rounded-Light_21020.svg") format("svg");
  font-weight: normal;
  font-style: normal; }
/* variables */
/* mixins */
/* functions */
body {
  font-family: 'Gotham-Rounded-Bold', sans-serif; }

a {
  text-decoration: none;
  color: inherit; }

/* --- button-styles --- */
button {
  background: #16a085;
  font-size: 0.75em;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  margin-bottom: 220px;
  padding: 17px 30px;
  transition: 300ms;
  border: none;
  border-radius: 2px; }
  button:hover {
    background: #107360; }

/* --- main styles --- */
.content {
  letter-spacing: 0.15em; }

/* --- home section --- */
.home {
  background-size: cover !important;
  /*NAV-TOGGLE STYLES*/ }
  .home .content {
    color: #ffffff;
    text-align: center; }
  .home header.scrolling {
    /* appears when scrolling! */
    background: rgba(170, 170, 170, 0.4);
    top: -30px;
    padding-bottom: 10px;
    transition: 500ms; }
  .home header {
    position: fixed;
    z-index: 1000;
    top: 0;
    width: 100%; }
  .home .logo {
    position: absolute;
    top: 35px;
    left: 0;
    right: 0;
    background: url(../img/main-sprite.png) -20px -218px no-repeat;
    margin: 0 auto;
    width: 60px;
    height: 63px; }
  .home .nav-toggle {
    position: absolute;
    text-transform: uppercase;
    left: 9%;
    top: 60px; }
    .home .nav-toggle:hover > .nav-pill {
      background: url(../img/main-sprite.png) -18px -148px no-repeat;
      border-color: #16a085; }
    .home .nav-toggle:hover > .menu-title {
      color: #16a085; }
    .home .nav-toggle .menu-title {
      cursor: default;
      vertical-align: 6px; }
    .home .nav-toggle .nav-pill {
      display: inline-block;
      width: 25px;
      height: 25px;
      border: 2px solid #ffffff;
      border-radius: 50%;
      background: url(../img/main-sprite.png) -210px -84px no-repeat; }
  .home .nav-primary {
    margin-top: 38px; }
    .home .nav-primary .wrap {
      padding: 0;
      max-width: 70%;
      margin: 0 auto; }
    .home .nav-primary .nav-menu {
      color: #ffffff;
      display: table;
      margin: 0 auto;
      padding: 0;
      width: auto; }
    .home .nav-primary .menu-item {
      display: block;
      text-align: center;
      float: left; }
      .home .nav-primary .menu-item:first-child {
        margin-left: 37px; }
      .home .nav-primary .menu-item:nth-child(2) {
        padding-right: 64px;
        padding-right: 4rem; }
    .home .nav-primary .split-right {
      margin-left: 60px;
      padding-left: 64px;
      padding-left: 4rem; }
    .home .nav-primary a {
      text-transform: uppercase;
      transition: 300ms;
      border: none;
      display: block;
      padding: 32px;
      padding: 2rem;
      position: relative; }
      .home .nav-primary a:hover {
        color: #16a085; }
  .home h1 {
    margin: 0 auto 8px;
    padding-top: 335px;
    font-size: 2.25em;
    text-transform: uppercase;
    letter-spacing: 0.15em; }
  .home p {
    margin: 0 0 25px;
    font-family: "Gotham-Rounded-Medium", sans-serif;
    font-weight: normal;
    letter-spacing: 0.17em; }
  .home .icons-block {
    margin: 0 auto;
    padding-bottom: 20px; }
    .home .icons-block .icons {
      width: 28px;
      margin: 0 1px;
      height: 26px;
      display: inline-block;
      transition: 500ms; }
      .home .icons-block .icons:hover, .home .icons-block .icons:focus {
        transform: rotate(360deg);
        opacity: 0.8; }
    .home .icons-block .icon-twitter {
      background: url(../img/main-sprite.png) -247px -152px no-repeat;
      margin-left: 6px; }
    .home .icons-block .icon-flickr {
      background: url(../img/main-sprite.png) -274px -86px no-repeat; }
    .home .icons-block .icon-dribbble {
      background: url(../img/main-sprite.png) -274px -20px no-repeat; }

/* --- photoapp section --- */
.photoapp {
  position: relative; }
  .photoapp .content {
    background: #f5f6f7;
    overflow: hidden; }
  .photoapp .text-column {
    float: left;
    width: 35.98726%;
    margin-top: 110px;
    padding-left: 9%; }
    .photoapp .text-column h2 {
      color: #16a085;
      font-size: 1.125em;
      font-weight: normal;
      margin-top: 0;
      margin-bottom: 35px;
      text-transform: uppercase; }
    .photoapp .text-column p {
      color: #373737;
      line-height: 2 !important;
      font: 0.75em "Gotham-Rounded-Light", sans-serif;
      text-align: left;
      margin: 0 0 45px 0; }
    .photoapp .text-column button {
      color: #ffffff;
      margin-bottom: 90px;
      padding: 19px 45px 17px; }
  .photoapp .hand-image {
    background: url(../img/hand.png) no-repeat;
    background-size: cover;
    width: 62.73885%;
    height: 100%;
    position: absolute;
    right: -12px;
    top: 0; }

/* --- design section --- */
.design {
  position: relative; }
  .design .content {
    overflow: hidden; }
  .design .phone-img {
    background: url(../img/phone.png) 30% bottom no-repeat;
    background-size: auto;
    position: absolute;
    bottom: 0;
    padding-left: 9%;
    width: 60%;
    height: 100%; }
  .design .text-column {
    float: right;
    width: 35.66879%;
    padding-right: 4%;
    margin-bottom: 100px;
    margin-top: 126px; }
    .design .text-column button {
      color: #ffffff;
      padding: 18px 45px;
      margin-bottom: 45px; }

/* --- slider section --- */
.slider-section .content {
  background: #f5f6f7;
  font-weight: normal;
  overflow: hidden; }
.slider-section .text-column {
  color: #373737;
  float: left;
  margin: 104px 0 120px 9%;
  padding-top: 53px;
  width: 15.04777%;
  text-align: center; }
  .slider-section .text-column .logo-colorized {
    background: url(../img/main-sprite.png) -247px -218px no-repeat;
    width: 74px;
    height: 70px;
    margin: 0 auto 20px; }
  .slider-section .text-column h3 {
    font-size: 1em;
    text-transform: uppercase;
    margin-bottom: 20px; }
  .slider-section .text-column p {
    font: 0.625em "Gotham-Rounded-Medium", sans-serif;
    letter-spacing: 0.1em;
    padding: 0 15px; }

/* --- subscribe section --- */
.subscribe-section .content {
  background-size: cover !important;
  letter-spacing: 0.22em;
  text-align: center; }
.subscribe-section form {
  padding-top: 347px;
  padding-bottom: 325px; }
  .subscribe-section form label {
    color: #ffffff;
    display: block;
    font-size: 1.5em;
    text-transform: uppercase;
    padding-bottom: 26px; }
  .subscribe-section form input[type="text"] {
    font-family: "Gotham-Rounded-Medium", sans-serif;
    text-transform: uppercase;
    margin-right: -63px;
    padding: 0 56px 0 22px;
    width: 255px;
    height: 60px;
    border: none;
    border-radius: 2px; }
  .subscribe-section form input::-webkit-input-placeholder {
    color: #373737;
    letter-spacing: 0.15em; }
  .subscribe-section form input:-moz-placeholder {
    color: #373737;
    letter-spacing: 0.15em; }
  .subscribe-section form input:-ms-input-placeholder {
    color: #373737;
    letter-spacing: 0.15em; }
  .subscribe-section form input[type="submit"] {
    background: url(../img/main-sprite.png) -144px -148px no-repeat #16a085;
    border: none;
    border-radius: 0 2px 2px 0;
    width: 63px;
    height: 60px;
    transition: 200ms; }
    .subscribe-section form input[type="submit"]:hover {
      background-color: #107360; }

/* --- download section --- */
.download .content {
  background: #f5f6f7;
  letter-spacing: 0.2em;
  text-align: center; }
.download h3 {
  font-size: 1.25em;
  font-weight: normal;
  margin: 0;
  padding: 90px 0 5px 0;
  text-transform: uppercase; }
.download p {
  font: 0.75em "Gotham-Rounded-Medium", sans-serif;
  text-transform: uppercase;
  line-height: 1.8;
  letter-spacing: 0.17em;
  width: 67.51592%;
  margin: 0 auto 43px; }
.download .buttons-block {
  overflow: hidden;
  padding-bottom: 96px; }
  .download .buttons-block .button {
    background: #16a085;
    color: #ffffff;
    display: inline-block;
    text-transform: uppercase;
    text-align: left;
    padding: 23px 60px 0 21px;
    margin: 0 10px 20px;
    width: 213px;
    height: 35px;
    position: relative;
    border: none;
    border-radius: 2px; }
  .download .buttons-block .icon {
    border-radius: 0 2px 2px 0;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 56px; }
  .download .buttons-block .apple-store {
    background: url(../img/main-sprite.png) -116px -20px #138a72; }
  .download .buttons-block .play-store {
    background: url(../img/main-sprite.png) -20px -20px #138a72; }

/* --- footer --- */
footer {
  overflow: hidden;
  letter-spacing: 0.13em; }
  footer .footer-info-wrapper {
    float: left;
    margin: 40px 0 0 9%; }
  footer .footer-nav {
    margin-bottom: 20px;
    padding-left: 8px; }
    footer .footer-nav a {
      text-transform: uppercase;
      font-size: .875em;
      margin-bottom: 23px; }
      footer .footer-nav a::after {
        content: "|";
        padding-left: 8px; }
      footer .footer-nav a:last-child::after {
        content: ""; }
  footer p {
    font-size: .875em;
    padding-left: 7px; }
  footer .footer-icon {
    background: url(../img/main-sprite.png) -247px -218px no-repeat;
    float: right;
    margin: 30px 8.4% 35px 0;
    width: 74px;
    height: 70px; }

/* --- media queries --- */
@media screen and (max-width: 1240px) {
  .home .nav-primary .wrap {
    max-width: 100%; } }
@media screen and (max-width: 968px) {
  .home .nav-primary a {
    padding: 32px 16px;
    padding: 2rem 1rem;
    font-size: .8em; }

  .home h1 {
    padding-top: 250px; }

  .slider-section .text-column {
    float: none;
    width: 60.9076433%;
    margin: 50px auto 20px;
    padding-top: 0;
    overflow: hidden; }

  .slider-section .text-column .logo-colorized {
    float: left;
    margin: 0; } }
@media screen and (max-width: 681px) {
  .home .nav-primary .menu-item:first-child {
    margin-left: 0; }
  .home .nav-primary .menu-item:nth-child(2) {
    padding-right: 0; }

  .photoapp .text-column {
    float: none;
    width: auto;
    margin-top: 50px; }
  .photoapp .hand-image {
    display: none; }

  .design .phone-img {
    display: none; }
  .design .text-column {
    float: none;
    width: auto;
    margin-top: 50px;
    padding-left: 9%; }

  .download h3 {
    padding-top: 50px; }

  footer .footer-icon {
    clear: both;
    float: none;
    display: block;
    margin-left: auto;
    margin-right: auto; } }
@media screen and (max-width: 585px) {
  .home h1 {
    font-size: 1.5em; }

  .home .nav-primary {
    margin-top: 98px; }
    .home .nav-primary .nav-menu {
      width: 100%; }
    .home .nav-primary .menu-item {
      display: table-cell;
      float: none;
      padding: 0;
      margin: 0; } }
@media screen and (max-width: 472px) {
  .home .nav-primary a {
    padding: 1rem 0.8rem; }

  .subscribe-section form input[type="text"] {
    width: 200px; } }

/*# sourceMappingURL=main.css.map */
