@import url(../css/normalize.css);

@font-face {
  font-family: 'Gotham-Rounded-Bold';
  src: url('../fonts/Gotham-Rounded-Bold_21016.eot');
  src: local('☺'), url('../fonts/Gotham-Rounded-Bold_21016.woff') format('woff'),
  url('../fonts/Gotham-Rounded-Bold_21016.ttf') format('truetype'),
  url('../fonts/Gotham-Rounded-Bold_21016.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham-Rounded-Medium';
  src: url('../fonts/Gotham-Rounded-Medium_21022.eot');
  src: local('☺'), url('../fonts/Gotham-Rounded-Medium_21022.woff') format('woff'),
  url('../fonts/Gotham-Rounded-Medium_21022.ttf') format('truetype'),
  url('../fonts/Gotham-Rounded-Medium_21022.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham-Rounded-Light';
  src: url('../fonts/Gotham-Rounded-Light_21020.eot');
  src: local('☺'), url('../fonts/Gotham-Rounded-Light_21020.woff') format('woff'),
  url('../fonts/Gotham-Rounded-Light_21020.ttf') format('truetype'),
  url('../fonts/Gotham-Rounded-Light_21020.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* variables */

$background-color-secondary: #f5f6f7;
$primary-text-color: #ffffff;
$button-and-titles-color: #16a085;
$paragraph-text-color: #373737;
$font-medium: 'Gotham-Rounded-Medium', sans-serif;
$font-light: 'Gotham-Rounded-Light', sans-serif;
$header-scroll: rgba(170, 170, 170, 0.4);

* {
  font-family: 'Gotham-Rounded-Bold', sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

/* --- button-styles --- */

button {
  background: $button-and-titles-color;
  border: none;
  border-radius: 2px;
  font-size: 0.75em;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  margin-bottom: 220px;
  padding: 17px 30px;
  transition: 300ms;
  &:hover {
    background: darken($button-and-titles-color, 10%);
  }
}



/* --- main styles --- */

.content {
  letter-spacing: 0.15em;
}

/* --- home section --- */

.home {
  //background: url(../img/section-1.jpg) no-repeat;
  background-size: cover;
  .content{
    color: $primary-text-color;
    text-align: center;
    header.scrolling {  // appears when scrolling!
      background: $header-scroll;
      margin-top: 0;
      transition: 500ms;
    }
    header {
      position: fixed;
      z-index: 1000;
      top: 0;
      width: 100%;
      padding-bottom: 20px;
      margin-top: 21px;
      .logo {
        background: url(../img/logo.png) no-repeat;
        margin: 15px 0 0 -40px;
        position: absolute;
        left: 50%;
        width: 60px;
        height: 63px;
      }
      nav {
        padding: 24px 45px 0 35px;
        max-width: 65%;
        margin: auto;
        ul {
          list-style: none;
          padding: 0;
          .pull-left {
            float: left;
          }
          .pull-right {
            float: right;
          }
          li {
            display: inline-block;
            padding: 12px 25px;
            &:nth-child(2) {
              padding-left: 50px;
            }
            &:nth-child(4) {
              padding-right: 40px;
            }
            a {
              text-transform: uppercase;
              transition: 200ms;
              &:hover {
                color: $button-and-titles-color;
              }
            }
          }
          &:after {
            content: "";
            clear: both;
          }
        } //end ul
      } //end nav
    } //end header
    h1 {
      margin: 0 auto 8px; //246px
      padding-top: 335px;
      font-size: 2.25em;
      text-transform: uppercase;
      letter-spacing: 0.15em;
    }
    p {
      margin: 0 0 25px;
      font-family: $font-medium;
      font-weight: normal;
      letter-spacing: 0.17em;
    }
    .icons-block {
      margin: 0 auto;
      padding-bottom: 20px;
      .icons {
        width: 28px;
        margin: 0 1px;
        height: 26px;
        display: inline-block;
        transition: 500ms;
        &:hover {
          transform: rotate(360deg);
          opacity: 0.8;
        }
      }
      .icon-twitter {
        background: url(../img/icon-twitter.png) no-repeat;
        margin-left: 6px;
      }
      .icon-flickr {
        background: url(../img/icon-flickr.png) no-repeat;
      }
      .icon-dribbble {
        background: url(../img/icon-dribbble.png) no-repeat;
      }
    }
  } //end content
} //end home section



/* --- photoapp section --- */

.photoapp {
  position: relative;
  .content{
    background: $background-color-secondary; //url(../img/hand.png) no-repeat
    overflow: hidden;
    .text-column {
      float: left;
      width: 36%; //40.7643312%
      margin-top: 110px;
      padding-left: 10%; //9.2356688%
      h2 {
        color: $button-and-titles-color;
        font-size: 1.125em;
        font-weight: normal;
        margin-top: 0;
        margin-bottom: 35px;
        text-transform: uppercase;
      }
      p {
        color: $paragraph-text-color;
        line-height: 2 !important;
        font: .75em $font-light;
        text-align: left;
        margin: 0 0 45px 0;
      }
      button {
        color: $primary-text-color;
        margin-bottom: 90px;
        padding: 19px 45px 17px;
      }
    }
    .hand {
      background: url(../img/hand%20copy.png) no-repeat;
      background-size: cover;
      width: 62.7388535%;
      height: 100%; //494px
      position: absolute;
      right: -12px;
      top: 0;
    }
  } //end content
} //end photoapp section



/* --- design section --- */

.design {
  position: relative;
  .content {
    overflow: hidden;
    .mob-img {
      background: url(../img/phone.png) no-repeat;
      background-size: cover;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 45.8598726%;
      height: 100%;
    }

    .text-column {
      float: right;
      width: 35.6687898%;
      padding-right: 4%;
      margin-bottom: 100px;
      button {
        color: $primary-text-color;
        padding: 18px 45px;
        margin-bottom: 45px;
      }
    } //end text-column
  } //end content
} //end design section



/* --- slider section --- */

.slider-section {
  .content {
    background: $background-color-secondary;
    font-weight: normal;
    overflow: hidden;
    .text-column {
      color: $paragraph-text-color;
      float: left;
      margin: 104px 0 120px 9%;
      padding-top: 53px;
      width: 15%;
      text-align: center;
      .logo-colorized {
        background: url(../img/logo-2.png) no-repeat;
        width: 74px;
        height: 70px;
        margin: 0 auto 20px;
      }
      h3 {
        font-size: 1em;
        text-transform: uppercase;
        margin-bottom: 20px;
      }
      p {
        font: .625em $font-medium;
        letter-spacing: 0.1em;
        padding: 0 15px;
      }
    } //ebd text-column
  } //end content
} //end slider section



/* --- subscribe section --- */

.subscribe-section {
  .content{
    //background: url(../img/section-5.jpg) no-repeat;
    background-size: cover;
    letter-spacing: 0.22em;
    text-align: center;
    form {
      padding-top: 347px;
      padding-bottom: 325px;
      label {
        color: $primary-text-color;
        display: block;
        font-size: 1.5em;
        text-transform: uppercase;
        padding-bottom: 26px;
      }
        input[type="text"] {
          border: none;
          border-radius: 2px;
          font-family: $font-medium;
          text-transform: uppercase;
          margin-right: -63px;
          padding: 0 56px 0 22px;
          width: 255px;
          height: 60px;
        }
        input::-webkit-input-placeholder {
          color: $paragraph-text-color;
          letter-spacing: 0.15em;
        }
        input:-moz-placeholder {
          color: $paragraph-text-color;
          letter-spacing: 0.15em;
        }
        input:-ms-input-placeholder {
          color: $paragraph-text-color;
          letter-spacing: 0.15em;
        }

        input[type="submit"] {
          background: url(../img/check.png) no-repeat $button-and-titles-color;
          border: none;
          border-radius: 0 2px 2px 0;
          width: 63px;
          height: 60px;
          transition: 200ms;
          &:hover {
            background-color: darken($button-and-titles-color, 10%);
          }
        }
    } //end form
  } //end content
} //end subscribe section



/* --- download section --- */

.download {
  .content {
    background: $background-color-secondary;
    letter-spacing: 0.2em;
    text-align: center;
    h3 {
      font-size: 1.25em;
      font-weight: normal;
      margin: 0;
      padding: 90px 0 5px 0;
      text-transform: uppercase;
    }
    p {
      font: .75em $font-medium;
      text-transform: uppercase;
      line-height: 1.8;
      letter-spacing: 0.17em;
      width: 67%;
      margin: 0 auto 43px;
      padding: 0 10px;
    }
    .buttons-block {
      overflow: hidden;
      padding-bottom: 116px;
      .button {
        background: $button-and-titles-color;
        border-radius: 2px;
        color: $primary-text-color;
        display: inline-block;
        text-transform: uppercase;
        text-align: left;
        padding: 23px 60px 0 21px;
        margin: 0 10px;
        width: 213px;
        height: 35px;
        position: relative;
        .icon {
          border-radius: 0 2px 2px 0;
          position: absolute;
          right: 0;
          top: 0;
          height: 100%;
          width: 56px;
        }
        .apple-store {
          background: url(../img/apple-icon.png) no-repeat darken($button-and-titles-color, 5%);
        }
        .play-store {
          background: url(../img/android-icon.png) no-repeat darken($button-and-titles-color, 5%);
        }
      } //end button
    } //end-buttons block
  } //end content
} //end download


/* --- footer --- */

footer {
  overflow: hidden;
  letter-spacing: 0.13em;
  .footer-info {
    float: left;
    margin: 40px 0 35px 9%;
    nav {
      margin-bottom: 20px;
      padding-left: 8px;
      a {
        text-transform: uppercase;
        font-size: .875em;
        margin-bottom: 23px;
        &::after {
          content: "|";
          padding-left: 8px;
        }
        &:last-child::after {
          content: "";
        }
      }
    }
    p {
      font-size: .875em;
      text-indent: 7px;
    }
  }
  .footer-icon {
    background: url(../img/logo-2.png) no-repeat;
    float: right;
    margin: 30px 8.4% 0 0;
    width: 74px;
    height: 70px;
  }
}
