body {
  font-family: $font-bold;
  font-size: 100%;
  @include respond-min(1400px) {
    font-size: 150%;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

*:focus {
  outline: none
}

button {
  background: $buttons-color;
  font-size: 0.75em;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  padding: 17px 30px;
  transition: 300ms;
  @include button-border;
  &:hover,
  &:focus {
    background: $buttons-hover;
  }
}

.content {
  letter-spacing: 0.15em;
}