//buttons
$buttons-color: #16a085;
$buttons-hover: darken($buttons-color, 10%);
$download-section-buttons: darken($buttons-color, 5%);
//nav-toggle
$nav-toggle-icons: #fff;
//fonts
$font-bold: 'GothamRounded-Bold', sans-serif;
$font-medium: 'GothamRounded-Medium', sans-serif;
$font-light: 'GothamRounded-Light', sans-serif;
//text
$headings-color: #16a085;
$primary-text-color: #ffffff;
$paragraph-text-color: #373737;
//backgrounds
$background-color-secondary: #f5f6f7;
$header-scroll: rgba(170, 170, 170, 0.4);